export interface ConfigurationParameters {
    readonly apiKeys?: {[ key: string ]: string};
    readonly username?: string;
    readonly password?: string;
    readonly accessToken?: string | (() => string);
    readonly basePath?: string;
    readonly withCredentials?: boolean;
}

export class Configuration {
    public readonly apiKeys?: {[ key: string ]: string};
    public readonly username?: string;
    public readonly password?: string;
    public readonly accessToken?: string | (() => string);
    public readonly basePath?: string;
    public readonly withCredentials?: boolean;

    constructor(configurationParameters: ConfigurationParameters = {}) {
        Object.assign(this, configurationParameters);
    }
}
